.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-names {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chart-bars {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chart-bar {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.chart-value {
  margin-top: 5px;
}
