:where(.css-dev-only-do-not-override-1jr9qlj).ant-select .ant-select-selection-placeholder {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  flex: 1;
  color: orange;
  pointer-events: none;
}
.ant-select-item-option-content {
  color: gray;
  font-weight: 700;
}