
.ant-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #a4a4a4;
}

.ant-card-cover {
  display: flex;
  justify-content: center;
}

.ant-card-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.ant-card-cover img {
  max-width: 200px;
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px rgb(0, 162, 255);
  background-color: white;
  height: 300px;
}

.card-title {
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 0;
}
.ant-tag {
  font-weight: bold;
  font-size: medium;
}

/* lista de tipos de pokemon  para su background-color*/

.bug {
  background-color: #729F3F;
}
.dark {
  background-color: #707070;
}
.dragon {
  background-color: #F16E57;
}
.electric {
  background-color: #EED535;
}
.fairy {
  background-color: #FDB9E9;
}
.fighting {
  background-color: #D56723;
}
.fire {
  background-color: #FD7D24;
}
.flying {
  background-color: #BDB9B8;
}
.ghost {
  background-color: #7B62A3;
}
.grass {
  background-color: #9BCC50;
}
.ground {
  background-color: #AB9842;
}
.ice {
  background-color: #50C3E7;
}
.normal {
  background-color: #A4ACAF;
}
.poison {
  background-color: #B87FC8;
}
.psychic {
  background-color: #F366B9;
}
.rock {
  background-color: #A38C21;
}
.shadow {
  background-color: #729F3F;
}
.steel {
  background-color: #9EB7B8;
}
.water {
  background-color: #4592C4;
}